

/* Global */

/* * {
  box-sizing: border-box;
} */

html {
    font-family: Roboto, sans-serif;
    color: #515151;
  }
  /* Device-type rules */
  /* @media (min-width: 48em) {
    html {
      font-size: 16px;
    }
  }
  @media (min-width: 58em) {
    html {
      font-size: 20px;
    }
  } */

 body {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding:0px;
   margin:0;
  
 } 





/* Top Header */

header {
  display: flex;
  flex-direction: column; /*flex-item is nav-container */
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  flex-wrap: nowrap;
  background-color: #fff;
  height: 100%;
  min-height: 70px;
  border-bottom: 1px solid #ebeaeb;
}

.Container {
  display: block;
  width: 100%;
  flex-direction: row;
  border-radius: 5px;
  position: sticky;
  padding: 0px

}

.NavContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto, sans-serif;


}

.NavLinks {
  padding-right: 40px;
}

.Logo {
  padding-left: 30px;
}

.NavLink {
  margin-right: 30px;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-decoration: none;
  color: #6E7185;
}

.Button {
  display: inline-block;
  padding: 12px 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 4px;
  font-weight: 500px;
  background-color: #a1045a;
  text-decoration: none;
  color: #fff;
}

/* media */
@media screen and (max-width:800px) { /*Ypx or smaller*/
  .NavLink {
    display: none;

  }

  
}




/* Subtitle */

.Subtitle {
  height: 20 px;
  padding: 0px;
  margin: 0px;
}

.Subtitle h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #71072F;
  text-align: center;
}



/* Landing Intro */


.intro-container { 
  display: flex;  /* default row */
  width: 90%;
  margin: 0 auto;
  /* background-color: #9e8a91; */

}

.intro_left {  /*flex-item and flex container*/
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /*padding border incl. in total wh*/
  align-items: flex-start;
  /* background-color: rgb(212,190,207, .2); */
  width: 50%;
  padding: 8px 40px;
  
}

.intro_right { /*flex-item and flex container*/
  /* background-color: rgb(172, 236, 236); */
  /* display: flex; */
  width: 60%;
  /* align-items: flex-center; */
  background-image: url("imgs/datagirl-jvl.svg");
  background-repeat: no-repeat;
  background-size: cover;

}



.intro_left h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #6E7185;
  text-align: left;
}

h1 .contrast {
  color: #a1045a;
}

.intro_left p {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  color: #515151;
  line-height: 1.6;  /*1.6 times the font-size*/
}



@media screen and (max-width:800px) { /*Ypx or smaller*/
  .intro-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .intro_left {  
    width: 100%;
    
  }
  
}







/* h2 headers */

.services_titles {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #980050;
  text-align: left;
}

.open {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: normal;
  color:#78676d;
  text-align: center;
}

.areas {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  color:#78676d;
  text-align: center;

}




/* Remark */

.remark {
  width: 90%;
  margin: 0 auto;
}

.remark p {
  font-family: "Roboto", sans-serif;
  color:#980050;
  font-size: 26px;
  text-align: center;

}

@media screen and (max-width:800px) { /*Ypx or smaller*/
  .remark {
    width: 80%;
  }
  
}





/* Training */


.training {
  background-color: #f6f7f9;

}

.training-container { 
  display: flex;  /* default row */
  /* To center */
  width: 90%;
  margin: 0 auto; 
  padding: 0px 0px;
  /* background-color: skyblue; */

}

.training_left {  /*flex-item and flex container*/
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  /* background-color: rgb(212,190,207, .2); */
  width: 50%;
  padding-right: 20px;
  
}

.training_right { /*flex-item and flex container*/
  /* background-color: rgb(172, 236, 236); */
  display: flex;
  width: 50%;
  margin-right: auto;
  /* align-items: flex-center; */
  padding-top: 60px;
  padding-left: 80px;
  padding-bottom: 30px;
}

.training_right img {
  /* max-width: 580px; */
  height: auto;
  /* max-height: 350px; */
  width: 80%;
}


.training_left p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #515151;
  line-height: 1.6;  /*1.6 times the font-size*/
  text-align: left;
}



@media screen and (max-width:800px) { /*Ypx or smaller*/
  .training-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .training_left {  
    width: 100%;
    align-items: center;
    
  }
  
  .training_left p {
    text-align: center;
  }

  .training_right {  
    width: 100%;
    padding: 0px ;
    padding-bottom:5%;
    justify-content: center;
  }
  .training_right img {
    height: auto;
    width: 80%;
  }
}


/* Quote-training */

.quotetraining {
  margin-bottom: 4%;
}

.quotetraining-container { 
  display: flex;
  flex-direction: column;
  /* To center */
  width: 70%;
  margin: 0 auto; 
  padding: 0px 0px;
  /* background-color: skyblue; */

}

.quotebox {
  margin: 12px;
  padding: 0% 2%;
}

.quote-headline {
  font-size: 36px;
  font-family: 'News Cycle', sans-serif;
  color: #a0999b;
  text-align: center;
}

.quote-headline-quoted::before {
  content: "\201c";
  font-size: 60px;
  font-family: 'Catamaran', sans-serif;
  /* margin-bottom: -40px; */
  margin-top:-50px;
}

.quote-text {
  font-size: 20px;
  color: #474445;
  text-align: center;
  font-family: 'News Cycle', sans-serif;

  line-height: 1.2em;
  padding: 0 15% 2%;
}

.quote-text-n {
  font-size: 14px;
  color: #c5c1c1;
  text-align: center;
  padding-top: 2%;

}


@media screen and (max-width:800px) { /*Ypx or smaller*/
  .quotetraining-container {
    width: 100%;
  }
  .quote-headline {
    font-size: 36px;
    font-family: 'News Cycle', sans-serif;
    color: #a0999b;
    text-align: center;
    line-height: 1.2em;
  }
  
  
} 











/* Consulting */


.consulting {
  background-color: white;

}

.consulting-container { 
  display: flex;  /* default row */
  width: 90%;
  margin: 0 auto;
  padding: 0px 0px;
  /* background-color: teal; */

  /* background-image: url("imgs/mydesktop_pink3d.svg"); */

}

.consulting_right {  /*flex-item and flex container*/
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  /* background-color: rgb(212,190,207, .2); */
  width: 50%;
  /* margin-left: 16px; */
  padding-right: 40px;
  padding-left: 10px;
  
}

.consulting_left { /*flex-item and flex container*/
  /* background-color: rgb(172, 236, 236); */
  display: flex;
  align-items: center;
  width: 50%;
 
  /* background-image: url("imgs/mydesktop_pink3d_crop.svg"); */
}

.mobile_title {
  display:none;
}

.consulting_left img {
  max-width: 520px;
  height: auto;
  /* padding: 20px; */
}

.consulting_right p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #515151;
  line-height: 1.6;  /*1.6 times the font-size*/
  text-align: left;
}

/* media */

@media screen and (max-width:800px) { /*Ypx or smaller*/
  .consulting-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .consulting_right {  
    width: 95%;
    align-items: center;
    margin: 0 auto;
    
  }
  .consulting_right h2 {
    display: none;
  }

  .consulting_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .mobile_title {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #980050;
    text-align: center;
  }

  .consulting_left img {
    height: auto;
    width: 100%;
  }

}







/* Econometrics */


.econometrics {
  background-color: #f6f7f9;

}

.econometrics-container { 
  display: flex;  
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;

}

.econometrics-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.econometrics-heading h2 {
  margin-bottom: 0px;
}

.econometrics-heading h3 {
  font-size: 28px;
}

.econometrics-heading p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #515151;
  line-height: 1.6;  /*1.6 times the font-size*/
  text-align: center;
  width: 75%;
  margin-top: 0;
}

.econometrics-topics {
  display: flex; /* default row */
  flex-wrap: wrap;
  width: 85%;
  justify-content: center;
  margin-bottom: 20px;
}

.econometrics_left {  
  width: 40%;
  /* padding-left: 20px; */
  margin-left: 30px;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  color: #980050;
  line-height: 1.8;  /*1.8 times the font-size*/
  text-align: left;
}



.econometrics_right img {
  max-width: 450px;
  /* max-height: 400px; */
}


/* media */

@media screen and (max-width:800px) { /*Ypx or smaller*/

  .econometrics-heading p {
    text-align: left;
    width: 90%;
  }
  .econometrics-heading h3 {
    width: 90%;
  }
  .econometrics_left {  
    width: 90%;
    text-align: left;
  }
  .econometrics_right img {
   height: auto;
   width: 100%;
    /* max-height: 400px; */
  }

}








/* Students */

.students-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  /* background-color: thistle; */
}

.students h3 {
  text-align: center;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #78676d;
}

.students p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #515151;
  line-height: 1.6;  /*1.6 times the font-size*/
  text-align: center;
  width: 75%;
}


/* Testimonials */

.testimonials {
  height: auto;
}

.testimonials h3 {
  font-size: 24px; 
  font-weight: normal;
  color: #78676d; 
  text-align: center;
  
}



.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 70%; /*center*/
  width: 960px;
  height: auto;
  margin: 2% auto;
  /* background-color: cornflowerblue; */
}

.feedbackBox {
  background-color: white;
  /* width: 270px; */
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(229, 215, 219);
  margin: 2%;
  max-width: 350px;
}






@media screen and (max-width:800px) {
  .testimonials-container {
    flex-direction: column;
  }
}





/* Analytics and BI */

.analyticsbi {
  background-color: #f6f7f9;

}

.analyticsbi-container {
  flex-direction: column;
  width: 80%;
  margin: 0 auto; /*centered*/
  padding-bottom: 30px;
}

.areas-container {
  /* background-color: skyblue; */
  display: flex;
  /* height: 300px; */
  padding: 0px 10px;
}

.tools-container {
  /* background-color: skyblue; */
  display: flex;
  padding: 0px 10px;

  /* justify-content: space-around; */
}

.biBox {
  padding: 10px 15px;
}


.biBox h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #a1045a;
  text-align: center;

}

#biBoxflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid rgb(229, 215, 219); */

}


.bi-button {
  padding: 12px 16px;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 4px;
  font-weight: 500px;
  background-color: #a1045a;
  text-decoration: none;
  color: #fff;
}

.analyticsbi h2 {
  text-align: center;
}


@media screen and (max-width:800px) {
  .areas-container {
    flex-direction: column;
  }
  .tools-container {
    flex-direction: column;
  }
}


/* About Me */


.home .about-me-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  /* background-color: lavenderblush; */
}

.home .about-me-container h2 {
  text-align: center;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #78676d;
}



.home .about-me-fillcontainer {
  display: flex;
  background-color: #f8f4f7;
  margin-bottom: 80px;
  background-image: url("imgs/jevl.jpg");
  background-repeat: no-repeat;
  background-position: 85% 50%;
}



.home .about-text {
  margin: 50px;
  padding: 10px 40px;
  margin-left: 80px;
  border: solid #ac7c95e7;
  width: 480px;
  /* background-color: lightskyblue; */
}

.about-text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #980050;

}

.about-text p {
  font-size: 18px;
}


@media screen and (max-width:800px) { /*Ypx or smaller*/
  .home .about-me-container {
    width: 90%;

  }
  .home .about-me-fillcontainer {
    background-color: #f8f4f7;
    margin-bottom: 80px;
    background-image: url("imgs/jevl.jpg");
    background-repeat: no-repeat;
    background-position: 50% 80%;
  }
  .home .about-text {
    margin: 5%;
    padding: 5%;
    margin-bottom: 85%;
  }

}


/* Contact Form embeded */

.Contact-form-emb {
  width: 100%;
  background-color: #f6f7f9;
  ;
}

.typeform-widget {
  width: 75%;
  margin: 0 auto;
  height: 400px;
}



/* Footer */

.footer {
  background-color: rgb(61, 45, 56);
  padding-bottom: 10px;
}

.footer_bottom {
  display: flex;
  width: 75%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-links a {
  margin: 5px;
}

.icon {
  width: 20px;
  height: 20px;
}

.footer_copyright p {
  font-size: x-small;
  color: #6E7185;
}




/* Tutorials */

.tutorials {
  height: auto;

}

.tutboxes-container {
  display: flex;  
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  align-items: left;
}

.tbox {
  display: flex;
  justify-content: flex-start;
  /* background-color: #a0999b; */
  margin-bottom: 2%;
}


.tbox1_left {
  border-radius: 8px;
  border: 1px solid rgb(229, 215, 219);
  width: 35%;
  background-image: url(imgs/Rwebscraping.jpg);
  background-size: cover;
}

.tbox_right {
  padding: 4%;
  padding-left: 2%;
}

.Tlink {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: normal;
  color:#4e4347;
  text-align: left;
  text-decoration: #4e4347;
  text-decoration-color: #4e4347;
  
}


.tbox_right a::before, a::after {
  transition-property: initial;
  transition-duration: 2s;
  transition-timing-function: linear;

}

.tbox_right a:hover {
  color: #980050;
  cursor: pointer;
  text-decoration: #980050;
  text-decoration-color: #980050;

}







.tbox2_left {
  border-radius: 8px;
  border: 1px solid rgb(229, 215, 219);
  width: 35%;
  background-image: url(imgs/rvest.jpg);
  background-size: cover;
}

.tbox3_left {
  border-radius: 8px;
  border: 1px solid rgb(229, 215, 219);
  width: 35%;
  background-image: url(imgs/wilcoxonsrjvl.jpg);
  background-size: cover;
}





/* Sidebar Close button */
.sidebar .closemenu{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 24px;
  margin-left: 50px;

}


  
/* Sidebar nav */


.sidebar-nav li a:hover,
.sidebar-nav li a:focus{
    text-decoration: underline;
}

.sidebar-nav-item.active {
    font-weight: bold;
  }

.menu {
  display: none;
}

/* Mobile Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  /* background-color: #71072F; */
}

.header a {
  color: #71072F;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
  padding-left: 20px;
}

button {
  padding: 9px 15px;
  background-color: rgb(149, 9, 62, .1) ;
  color:#71072F;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.menu {
  text-decoration: none;
  padding: 10px 15px;
}

button:hover {
  background-color: #980050;
  color: #FEE8F7;
}

.closemenu {
  text-decoration: none;
}




/* Sidebar Mobile  */

.overlay {
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #71072F;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay-content {
  display: 	flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay-content a{
  padding: 15px;
  font-size: 36px;
  display: block;
  text-decoration: none;
  color: #FEE8F7;
  transition: all 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
  color: #d4a10d;
}

.overlay .close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 60px;
  color: #FEE8F7;
  cursor: pointer;
}

@media only screen and (max-height: 450px){
    .overlay a {
      font-size: 20px;
  } 
    .overlay .close {
      position: absolute;
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
























/* @media only screen and (max-width: 800px) {
  .content-container {
    margin-left: 20px;
  }
} */





/* About Me Page*/

.aboutme {
  /* background-color: rgb(223, 197, 223); */
  height: 100%;
  padding-top: 0px;
  margin-right: 180px;

}

.aboutme-intro {
  background-color: white;
  margin-left: 300px;
  margin-right: 80px;
} 

.aboutme-intro-container {
  height: 200px;
  display: flex;
  align-items: center;
}

.aboutme-intro-content {
  text-align: left;
  padding: 0px;
  padding-right: 20px;
}


.aboutme-intro h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #71072F;
}


.aboutme-second {
  background-color: #f8f4f7;
  font-size: 18px;
  height: 100%;
  width: 100%;
  padding:0px;
  display: flex;
}

.aboutme-second-container {
  margin-top: 10px;
  margin-left: 300px;
  margin-right: 100px;
}

.aboutme-third {
  font-size: 18px;
} 

.aboutme-third-container {
  margin-top: 15px;
  margin-left: 300px;
  margin-right: 80px;
} 

a {
  text-decoration: underline;
  text-decoration-color: #D2DCEE;
  color: rgb(76, 116, 185);
}


/* CV */
.cv {
  overflow:auto;
  margin-top: 2px;
  color: #515151;
  margin-left: 280px;
  margin-right: 180px;
}

.cv h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #78676d;
}

.cv h2 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #1a1919;
}

#present {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #71072F;

}

.cv h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #636061;
  font-weight: lighter;
}

.cv  {
  font-family: Roboto, sans-serif;
  color: #515151;
  font-size: 18px;
}

.techniques ul{
  font-size: 21px;
  line-height: 35px;

}

.cv hr {
  color: #78676d;
}

.publication {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 100px;
  border-left: 2px solid #9e8a91;

}

/* .citation {
  color: #6e0434;
  text-decoration: none;

} */


/* Samples */

.samples {
  overflow:auto;
  margin-top: 2px;
  color: #515151;
  margin-left: 280px;
  margin-right: 180px;
}

.didreport {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #78676d;
}
